@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: serif;
  font-family: "Atkinson Hyperlegible", sans-serif;
  box-sizing: border-box;
}

body {
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  background: #F9F9F9;
}

main {
  text-align: center;
  padding: 30px 20px 0;
  position: relative;
}

footer {
  border-top: 1px solid #eee;
  font-size: 0.875em;
  color: #767676;
  padding: 30px;
  line-height: 1.8;
  background: #F9F9F9;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

footer a {
  color: #1172eb;
}

.infos-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.infos-wrapper__title {
  font-size: 1.25em;
  max-width: 320px;
  display: inline-block;
  margin-top: 25px
}

.infos-wrapper__explain {
  font-size: 0.99em;
  max-width: 320px;
  display: inline-block;
  margin-top: 15px;
  color: #767676;
}

.infos-wrapper__subtitle {
  max-width: 280px;
  display: flex;
  color: #1172EB;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.infos-wrapper__subtitle_icon{
  margin-right: 5px;
  position: relative;
}

.infos-wrapper__image {
  display: inline-block;
  margin: 50px 0;
  max-width: 280px;
}

.infos-wrapper__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  z-index: 999;
  position: relative;
}

.infos-wrapper__main-button {
  color: #fff;
  background: #131516;
  font-weight: 692;
  display: inline-block;
  font-size: 0.92em;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.infos-wrapper__main-button-link {
  color: #131516;
  background: #fff;
  font-weight: 400;
  display: flex;
  font-size: 0.92em;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #131516;
}

.infos-wrapper__main-button-link-icon {
  margin-right: 5px;
}

.infos-wrapper__main-button-link-simple {
  color: #131516;
  background: #fff;
  font-weight: 400;
  display: flex;
  font-size: 0.92em;
  text-decoration: underline;
  padding: 15px 50px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.infos-wrapper__main-button-link-simple-icon {
  margin-right: 5px;
}

.infos-wrapper__main-button-back {
  color: #131516;
  background: #fff;
  font-weight: 400;
  font-size: 0.92em;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #131516;
  width: 97%;
}

.infos-wrapper__main-button-finish {
  color: #fff;
  background: #131516;
  font-weight: 692;
  font-size: 0.92em;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  width: 97%;
}

.infos-wrapper__main-button-or {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  margin-top: 15px;
  margin-bottom: 15px;
}

.infos-wrapper__main-button-or:before, .infos-wrapper__main-button-or:after {
  background-color: #C6C6C6;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

.infos-wrapper__main-button-or:before {
  right: 0.5em;
  margin-left: -20px;
}

.infos-wrapper__main-button-or:after {
  left: 0.5em;
  margin-right: -20px;
}

.infos-wrapper__main-button-link-explain {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  max-width: 320px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #767676;
}

.infos-wrapper__skip-button {
  color: #131516;
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 0.90em;
  text-decoration-line: underline;
  font-weight: 700;
}

.loading-sdk {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.loading-sdk.is-visible {
  display: flex;
}

.cpf-form {
  position: fixed;
  display: none;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
}

.cpf-form.is-visible {
  display: flex;
}

.field-holder {
  margin-bottom: 30px;
}

.cpf-form form {
  width: 100%;
  padding: 50px 20px 0;
  max-width: 450px;
}

.cpf-form img {
  margin: 0 0 40px 0;
}

.cpf-form input {
  width: 100%;
  padding: 5px;
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/* SDK */
#DOM_FT_mainInterfaceNonOverlayContainer * {
  font-family: "Atkinson Hyperlegible", sans-serif !important;
}
